@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

/* HEADER */
.header {
  padding: 1.5rem 10rem;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header .right-links {
  display: flex;
  gap: 24px;
}

.header .right-links a {
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO */

.hero-container {
  background-color: #1f2937;
  padding: 6rem 10rem;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1;
}
.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  width: 450px;
}
.button-sign-up {
  background-color: #3882f6;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 16px;
  font-weight: 700;
}

.hero-image-placeholder {
  align-self: stretch;
  color: #fff;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Information */

.info-section-container {
  padding: 3rem 10rem;
}

.info-section-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.info-container {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 170px;
  gap: 8px;
}

.info-image {
  border: 5px solid #3882f6;
  border-radius: 20px;
  height: 150px;
  width: 150px;
}

.info-subtext {
  color: #6d747d;
  font-size: 18px;
}

/* Quote section */

.quote-container {
  background-color: #e5e7eb;
  padding: 6rem 16rem;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
  font-size: 26px;
  font-weight: 700;
  margin-right: 2em;
}

/* Sign up banner */

.signup-banner {
  margin: 6rem 10rem;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.banner-text {
  font-size: 18px;
  font-weight: 500;
  color: #e5e7eb;
}

.banner-button {
  border: 2px solid white;
}

/* Footer */

.footer-container {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;
}